%p{style:"color:#D65745; margin:none;"}
  Bonjour
  %strong= @resource.name

%p
  Vous venez d'être invité à participer
  %strong aux votes électroniques de l'Eglise Paris Métropole.

%p
  Par cette interface, vous serez en mesure de
  %strong voter électroniquement
  pour les prochaines assemblées générales.

%p
  %span{:style => "display:block;padding:10px 15px;background:#dedede;"}
    = link_to accept_invitation_url(@resource, :invitation_token => @resource.invitation_token), style:"text-decoration:none;color:#000" do
      %strong Accepter l'invitation

%p
  Ou en copiant le lien ci-dessous :

%p
  %span{:style => "display:block;padding:10px 15px;background:#dedede;"}
    = link_to accept_invitation_url(@resource, :invitation_token => @resource.invitation_token), style:"text-decoration:none;color:#000" do
      = accept_invitation_url(@resource, :invitation_token => @resource.invitation_token)

%p{style: "font-style:italic;font-size:14px;line-height:18px;"}
  L'Eglise Paris Métropole
